@import "tailwindcss";

:root {
  --background: #101012;
  --foreground: #ffffff;
  --primary: #1a7bdb;
  --primary-darker: #084481;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-darker: var(--primary-darker);
  --font-inter: var(--font-inter);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.primary-button{
  @apply bg-primary rounded-full text-foreground font-medium h-8 px-4 flex items-center border border-primary-darker
}

.gradient-primary-1{
  background: var(--primary);
  background: radial-gradient(circle,var(--primary) 0%, transparent 40%);
}

.blur {
  opacity: 40%;
  filter: blur(87px);
}
.blob {
  clip-path: polygon(90% 42%, 50% 77%, 5% 14%, 46% 15%, 69% 62%, 89% 12%, 81% 83%, 51% 9%, 56% 6%, 11% 97%, 56% 15%, 90% 59%, 49% 45%, 0% 75%, 71% 35%, 40% 94%, 65% 13%, 23% 92%, 79% 63%, 67% 91%, 24% 84%, 86% 13%, 9% 77%, 28% 25%, 43% 81%, 44% 15%, 30% 52%, 60% 40%, 31% 23%, 32% 14%, 32% 22%)
}

